{% extends "layout.html" %}

{% block header %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/registration.css">
<script src="{{STATIC_URL}}js/registration.js"></script>
{% endblock %}

{% block content %}
<h1>게시글을 수정해 주세요</h1>
<form method="post" action="edit_article/" enctype="multipart/form-data">
{% csrf_token %}
<div>
    <div>
        <span>카테고리</span>
        <select name="category">
            {% for category in category_choice %}
			{% ifequal category.0 article.category %}
            <option value="{{category.0}}" selected>{{category.1}}</option>
			{% else %}
            <option value="{{category.0}}">{{category.1}}</option>
			{% endifequal %}
            {% endfor %}
        </select>
    </div>
    <div>
        <span>제목</span>
		<input type="text" name="title" value="{{ article.title }}"/>
    </div>
    <div>
		<textarea name="comment" value="{{ article.comment }}"></textarea>
    </div>

    <div>
        <span>기간</span>
		<input type="text" name="start_date" value="{{ start_date }}"/> ~
		<input type="text" name="end_date" value="{{ end_date }}"/>
    </div>
    <div>
        <span>활성화</span>
		{% if article.activate %}
		<input type="radio" name="activate" value="on" checked/>On
		<input type="radio" name="activate" value="off"/>Off
		{% else %}
		<input type="radio" name="activate" value="on"/>On
		<input type="radio" name="activate" value="off" checked/>Off
		{% endif %}
    </div>
    <div>
        <span>파일 첨부</span><br>
        <div id="poster_file">
			<!-- show already posted images -->
        </div>
    </div>

</div>
<input type="submit" value="글쓰기 완료"/>
</form>
{% endblock %}
