{% extends "layout.html" %}

{% block header %}
<script src="{{STATIC_URL}}js/jquery/jquery-1.11.1.min.js"></script>
<script src="{{STATIC_URL}}js/jquery/jquery-ui.min.js"></script>
<script src="{{STATIC_URL}}js/jquery/jquery.file-handler.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/registration.css">
<script src="{{STATIC_URL}}js/registration.js"></script>
{% endblock %}

{% block content %}
<p id="registration-header">글 수정</p>
{% include "registration-form.html" %}

<script>

var init_form = function (article) {
	console.log(article);

	$('#registration-title').val(article.title);

	var startStr = article.start_time.replace(/-/g, '/');
	var endStr = article.end_time.replace(/-/g, '/');
	$('#start_date').val(startStr);
	$('#end_date').val(endStr).datepicker('option', 'minDate', startStr);

	$('#registration-comment').val(article.content);

	var poster_file = $('div#poster-file');
	var file_handler = poster_file.file_handler({
		'show_thumbnail' : true, 
		'type_list' : [{
			name : 'main',
			default_file : article.main_picture ? [article.main_picture.file] : [],
			minimum : 1,
			maximum : 1,
		},    
		{     
			name : 'sub',
			default_file : $.map(article.main_picture, function (v, i) { return v.file; }),
			minimum : 1,
			maximum : 3,
		},]   
	}).data('file-handler');
};

$(function() {

	$.ajax({
		url : '/board/get_detail/',
		type : 'GET',
		data : {
			'article_id' : {{articleID}},
		},
		success : function (data, textStatus) {
			init_form($.parseJSON(data));
		},
		error : function  (jqXHR, textStatus) {
			console.log(textStatus);
		},
	});
		

});
</script>

{% endblock %}
