<!DOCTYPE html>
<html>
<head>
	<title>Zabo</title>
	<meta charset="utf-8"/>
	<script src="{{STATIC_URL}}js/jquery/jquery-1.11.1.min.js"></script>
	<script src="{{STATIC_URL}}js/layout.js"></script>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/layout.css">
	{% block header %}
	{% endblock %}
</head>
<body>
	<div id="container">
		<div id="header">
			<div id="home">
				<a href="/">
					<img src="{{MEDIA_URL}}logo.png" />
				</a>
			</div>
			<div class="bar"></div>
			<div class="menu" id="newbie">
				<div class="category">
					<a href="/">신입생 모집</a>
				</div>
				<div class="subcategory">
					<div><a href="/">category1</a></div>
					<div><a href="/">category2</a></div>
				</div>
			</div>
			<div class="bar"></div>
			<div class="menu" id="perform">
				<div class="category">
					<a href="/">동아리 공연</a>
				</div>
				<div class="subcategory">
					<div><a href="/">category1</a></div>
					<div><a href="/">category2</a></div>
				</div>
			</div>
			<div class="bar"></div>
			<div class="menu" id="temp">
				<div class="category">
					<a href="/">얘도 카테고리</a>
				</div>
				<div class="subcategory">
					<div><a href="/">category1</a></div>
					<div><a href="/">category2</a></div>
				</div>
			</div>
			<div class="bar"></div>
			<div class="logio" id="login">
				<a href="/login/">Login</a>
			</div>
			<div class="logio" id="logout" style="display:none">
				<a href="/logout/">Logout</a>
			</div>
			<div id="search">
				<form id="search">
					<input id="query">
					</input>
					<button id="submit" type="submit">
						<img src="{{MEDIA_URL}}search.png" />
					</button>
				</form>
			</div>
		</div>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</body>
</html>

