{% extends "layout.html" %}

{% block header %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/registration.css">
<script src="{{STATIC_URL}}js/registration.js"></script>
{% endblock %}

{% block content %}
<p id="registration-header">새로운 글 작성</p>
<form method="post" id="registration-form" action="add_article/" enctype="multipart/form-data">
{% csrf_token %}
	<div class="form-group" id="registration-category">
        <label class="form-label">카테고리</label>
		<div class="form-col">
			<div class="input-group">
				<select name="category" class="form-control">
					{% for category in category_choice %}
					<option value="{{category.0}}">{{category.1}}</option>
					{% endfor %}
				</select>
				<span class="input-group-addon"></span>
			</div>
		</div>
    </div>

	<div class="form-group">
        <label class="form-label">제&nbsp;&nbsp;&nbsp;&nbsp;목</label>
		<div class="form-col">
        	<input type="text" name="title" class="form-control"/>
		</div>
    </div>

	<div class="form-group" id="board-comment">
        <label class="form-label">내용</label>
		<div class="form-col">
        	 <textarea rows="20" name="comment" class="form-control"></textarea>
		</div>
    </div>

	<div class="form-group">
        <label class="form-label">기&nbsp;&nbsp;&nbsp;&nbsp;간</label>
		<div class="form-col">
			<div class="form-control floating">
				<div class="input-group">
					<input type="text" name="start_date" class="ui-datepicker-input" id="start_date"/>
					<span class="input-group-addon"></span>
				</div>
			</div>
			<div class="form-control floating">
				<label style="display:table-cell; height:32px; vertical-align:middle;">~&nbsp;</label>
			</div>
			<div class="form-control floating">
				<div class="input-group">
					<input type="text" name="end_date" class="ui-datepicker-input" id="end_date"/>
					<span class="input-group-addon"></span>
				</div>
			</div>
		</div>
    </div>
    <div class="form-group">
        <label class="form-label">활성화</label>
		<div class="form-col">
			<div class="form-control">
				<div class="input-radio">
					<input type="radio" name="activate" value="on" checked/> On
					&nbsp;
					<input type="radio" name="activate" value="off"/> Off
				</div>
			</div>
		</div>
    </div>
    <div class="form-group">
		<label class="form-label">파일 첨부</label>
		<div class="form-col">
			<div class="form-control">
				<div id="poster-file">
					<!-- should be like
						<input type="file" name="main"/>
						<input type="file" name="sub1"/>
						<button id="add_sub_image">+</button>
					-->
				</div>
			</div>
		</div>
    </div>
	<input id="registration-submit" type="submit" value="글쓰기 완료"/>
</form>
{% endblock %}
