<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>

    <body>
        <h1>게시글을 등록해 주세요</h1>
        <form method="post" action="add_board/">
        {% csrf_token %}
        <div>
            <div>
                <span>카테고리</span>
                <select>
                    <option>카테고리1</option>
                    <option>카테고리2</option>
                    <option>카테고리3</option>
                    <option>카테고리4</option>
                    <option>카테고리5</option>
                </select>
            </div>
            <div>
                <span>제목</span>
                <input type="text" />
            </div>
            <div>
                <textarea></textarea>
            </div>

            <div>
                <span>기간</span>
                <input type="text" /> ~
                <input type="text" />
            </div>
            <div>
                <span>활성화</span>
                <input type="radio" name="activate" checked />On
                <input type="radio" name="activate" />Off
            </div>
            <div>
                <span>파일 첨부</span>
                <input type="file"></input>
            </div>

        </div>
        <input type="submit" value="글쓰기 완료"/>
        </form>
    </body>
</html>
