{% load endless %}

{% paginate 4 chosen %}
{% for articles_line in chosen %}
<div class='line'>
{% for article in articles_line %}
<div class='poster' style="background-color:#000000;float:left;margin-top:10px">
    <a href="#openModal">
        <img src = {{article.0}} style="height:{{picture_height}}px;margin-left:{{article.1}}px;margin-right:{{article.2}}px">
    </a>
</div>
<div class='blank' style="height:{{picture_height}}px;width:{{article.3}}px;float:left"></div>
{% endfor %}
</div>
{% endfor %}
{% show_more %}
