#club_info
{
    display:inline-block;
    width:100%;
    height:196px;
    border:2px solid #95D3CE;
    background-color:#f0f0f0;
    margin-bottom:15px;
}

#club_picture
{
    float:left;
    width:225px;
    height:inherit;
    line-height:196px;
    text-align:center;
    font-size:0;
}

#club_picture img
{
    display:inline-block;
    max-height:196px;
    max-width:200px;
}

#club_right
{
    position:relative;
    float:right;
    width:799px;
    height:inherit
}

#club_title
{
    line-height:53px;
    border-bottom:2px solid #95D3CE;
    margin:0px 20px 15px 0px;
    font-weight:bold;
}

#club_content
{
    width:720px;
    height:111px;
    font-size:12pt;
    overflow:hidden;
    word-wrap:break-word;
}

#club_content_edit
{
    width:720px;
    height:111px;
    font-size:12pt;
}

#club_right img
{
    position:absolute;
    width:35px;
    height:35px;
    right:0;
    bottom:0;
    margin:0 20px 15px 0;
}
