*
{
    margin:0;
    padding:0;
    border:0;
}

html
{
    height:100%;
    width:100%;
}

body
{
    height:100%;
    width:100%;
}

a
{
    text-decoration:none;
}

#container
{
    max-width:1024px;
    margin:0 auto;
    height:100%;
}

#header
{
    height:54px;
    background-color:#76CCE7;
    margin-bottom:10px;
}

#header > div
{
    height:54px;
    text-align:center;
}

#header img
{
    vertical-align:middle;
}

.menu
{
    float:left;
}

.menu > a
{
    padding:0px 12px;
    color:#000000;
    font-weight:bold;
    line-height:54px;
    border-left:2px solid #151D5E;
}

#home
{
    float:left;
    width:140px;
}

#home > a
{
    display:inline-block;
    width:inherit;
    height:inherit;
    line-height:54px;
    border-left:none;
}

div#search
{
    float:right;
}

form#search
{
    display:inline-block;
    height:30px;
    margin:10px 0px;
    border:2px solid #444444;
    background-color:#ffffff;
}

form#search *
{
    outline:none;
}

#query
{
    float:left;
    margin:5px 0px 5px 5px;
    height:20px;
}

#submit
{
    float:right;
    margin:3px 5px 0px 0px;
}

.logio
{
    float:right;
}

.logio > a
{
    height:54px;
    padding:0px 15px;
    color:#000000;
    font-weight:bold;
    line-height:54px;
}

#content
{
    float:left;
}
